*~
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
*.el
Talks/pimst/images/ds.png
Talks/pimst/images/ts.png
Talks/pimst/images/circles.png
Talks/iiss/images/periodic_table_of_elements.png
Talks/iiss/xrf/delta6200_3.jpg
Talks/Experiment/bl/reflection.png
Talks/secondlecture/images/MS.png
